#news {
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

#published_time {
  margin-bottom: 20px;
  color: #555;
}

#news_text {
  font-size: large;
}
