<!--<slideshow [imageUrls]="this.urls"></slideshow>-->
<div class="row">
  <div class="col-sm-4 padding-0 container">
    <a href="{{this.headLines[0].url}}">
      <div class="darken-pseudo">
        <img src="{{this.headLines[0].urlToImage}}" />
      </div>
      <div class="top-left">
        <h4 class="source">{{this.headLines[2].source.name}}</h4>
        <h2>{{this.headLines[0].title}}</h2>
        <h4>{{this.headLines[0].publishedAt.substring(0, 10)}}</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4 padding-0 container">
    <a href="{{this.headLines[1].url}}">
      <div class="darken-pseudo">
        <img src="{{this.headLines[1].urlToImage}}" />
      </div>
      <div class="top-left">
        <h4 class="source">{{this.headLines[1].source.name}}</h4>
        <h2>{{this.headLines[1].title}}</h2>
        <h4>{{this.headLines[1].publishedAt.substring(0, 10)}}</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4 padding-0 container">
    <a href="{{this.headLines[2].url}}">
      <div class="darken-pseudo">
        <img src="{{this.headLines[2].urlToImage}}" />
      </div>
      <div class="top-left">
        <h4 class="source">{{this.headLines[2].source.name}}</h4>
        <h2>{{this.headLines[2].title}}</h2>
        <h4>{{this.headLines[2].publishedAt.substring(0, 10)}}</h4>
      </div>
    </a>
  </div>
</div>
